<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile</title>
  <link rel="stylesheet" href="/style/profile.css">
</head>
<body>

  <%- include('../partials/_navbar') %>

  <div class="profile-container">
    <h1>Your Profile</h1>

    <form action="/profile/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
      <div class="profile-card">

        <div class="profile-image">
          <img src="/profiles/<%= user.image %>" alt="Profile Image" />
        </div>


        <div class="profile-info">
          <p><strong>Username:</strong> <%= user.username %></p>
          <p><strong>Name:</strong> <%= user.name %></p>
          <p><strong>Email:</strong> <%= user.email %></p>
          <p><strong>Age:</strong> <%= user.age %></p>
          <button type="button" onclick="window.location.href='/profile/<%= user._id %>/edit'">
            Update Profile
          </button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
