<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
    <link rel="stylesheet" href="/style/post.css" />
  </head>
  <body>
    <%- include('../partials/_navbar') %>
      <h1><%= category %></h1>
<div class="posts-container">
<% posts.forEach(post => { %>
  <% if (post.category === 'Books') { %>
    <div class="post-div">
      <%= console.log(post)  %>
      <img src="/uploads/<%= post.image %>" alt="<%= post.name %>" width="150">
      <h3>Name: <%= post.name %></h3>
      <h3>Author: <%= post.author %></h3>
      <h3>Cast: <%= post.cast %></h3>
      <h3>Rating: <%= post.rate %></h3>
      <p>Review: <%= post.review %></p>
      <% if (post.postOwner._id.equals(user._id)) { %>
        <div class="owner-container">
          <p>Owned by you</p>
          <a href="/post/<%= post._id %>/edit">Edit</a>
          <form
            action="/post/<%= post._id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit">Delete Post</button>
          </form>
        </div>
        <% } else { %>
        <p>Owned by <%= post.postOwner.username %></p>
        <button class="owner-container"><a href="">View details</a></button>
        <% } %>
    </div>
  <% } %>
    <% if (post.category === 'Dramas') { %>
    <div class="post-div">
      <%= console.log(post)  %>
      <img src="/uploads/<%= post.image %>" alt="<%= post.name %>" width="150">
      <h3>Name: <%= post.name %></h3>
      <h3>Author: <%= post.author %></h3>
      <h3>Cast: <%= post.cast %></h3>
      <h3>Rating: <%= post.rate %></h3>
      <p>Review: <%= post.review %></p>
      <% if (post.postOwner._id.equals(user._id)) { %>
        <div class="owner-container">
          <p>Owned by you</p>
            <a href="comment/<%= post._id %>">view details</a>
          <a href="/post/<%= post._id %>/edit">Edit</a>
          <form action="/post/<%= post._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Post</button>
          </form>
        </div>
      </div>
        <% } else { %>
        <p>Owned by <%= post.postOwner.username %></p>
        <button class="owner-container"><a href="">View details</a></button>
        <% } %>
    </div>
  <% } %>
    <% if (post.category === 'Movies') { %>
    <div class="post-div">
      <%= console.log(post)  %>
      <img src="/uploads/<%= post.image %>" alt="<%= post.name %>" width="150">
      <h3>Name: <%= post.name %></h3>
      <h3>Author: <%= post.author %></h3>
      <h3>Cast: <%= post.cast %></h3>
      <h3>Rating: <%= post.rate %></h3>
      <p>Review: <%= post.review %></p>
      <% if (post.postOwner._id.equals(user._id)) { %>
        <div class="owner-container">
          <p>Owned by you</p>
            <a href="comment/<%= post._id %>">view details</a>
          <a href="/post/<%= post._id %>/edit">Edit</a>
          <form action="/post/<%= post._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Post</button>
          </form>
        </div>
      </div>
        <% } else { %>
        <p>Owned by <%= post.postOwner.username %></p>
        <button class="owner-container"><a href="">View details</a></button>
        <% } %>
    </div>
  <% } %>
  
<% }) %>
  </div>
</body>
</html>
