<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/style/home.css">
</head>

<body>
  <%- include('partials/_navbar') %>

  <h1>All Posts</h1>

  <div class="posts-container">
    <% posts.forEach((post) => { %>
       <fieldset>
        <legend><h3> <%= post.name %></h3></legend>

      <div class="post-div">
        <img 
          src="/uploads/<%= post.image %>" 
          alt="<%= post.name %>"
        />

        <h3>Author: <%= post.author %></h3>
        <h3>Rating: <%= post.rate %></h3>

        <div class="owner-container">
          <a href="/comment/<%= post._id %>">View Details</a>
        </div>
      </div>
</fieldset>
    <% }) %>

  </div>

</body>
</html>
